<div class="container mt-5">
  <button class="btn btn-success w-100" [routerLink]="['/produtosCreate']" routerLinkActive="router-link-active"> Cadastrar novo produto</button>
  <div>
    <label class="form-label">Pesquisar:</label>
    <input class="form-control" type="text" placeholder="Qual produto deseja buscar? " (input)="search($event)" />
  </div>

  <table class="table tablke-hoven table-bordered mt-5">
    <thead class="table-dark" >
      <tr>
        <th>Id</th>
        <th>Descricao</th>
        <th>Validade</th>
        <th>Cadastro</th>
        <th>Preço</th>
        <th>Situação</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      @if (produtos.length > 0 ) {
        @for (produto of produtos; track $index) {


          <tr>
            <td>{{ produto.id }}</td>
            <td>{{ produto.descricao }}</td>
            <td>{{ produto.validade }}</td>
            <td>{{ produto.cadastro }}</td>
            <td>{{ produto.preco }}</td>
            <td>{{ produto.ativo == true ? "Ativo" : "Inativo" }}</td>
            <td>

              <button class="btn btn-warning mx-2" [routerLink]="['/produtosUpdate', produto.id]">Editar</button>
              <button class="btn btn-danger mx-2" (click)="deletar(produto.id)">Excluir</button>
            </td>
          </tr>
        }
      }@else {
        <tr class="text-center">
          <td colspan="7">Nenhum produto cadasatrado!</td>
        </tr>
      }

    </tbody>
  </table>

</div>
